<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.rexhub.kbms.bussiness.dao.TagMapper">

    <resultMap id="BaseResultMap" type="space.rexhub.kbms.bussiness.model.entity.TagEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="BIGINT"/>
        <result property="updater" column="updater" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, create_time,
        update_time,creator,updater
    </sql>
    <select id="getTagList"
            resultType="space.rexhub.kbms.bussiness.model.entity.TagEntity">
        SELECT
            *
        FROM tb_tag kp
                 JOIN tb_user u ON u.id = kp.creator
        <where>
            <if test="name != null">
                kp.`name` LIKE CONCAT('%', "${name}" ,'%')
            </if>
        </where>
        GROUP BY kp.id
    </select>
</mapper>
